.place__title {
    max-width: 440px;
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
    align-self: end;
    margin: 0;
    text-align: left;
    max-width: 460px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
}

@media screen and (max-width: 960px) {    
    .place__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 540px) {
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        grid-column: 1/2;
        grid-row: 1/4;
    }
}