.lead {
    margin: 0 auto;
    max-width: 984px;
    margin-bottom: 74px;
}

@media screen and (max-width: 1120px) {
    .lead {
        margin-bottom: 92px;
    }
}

@media screen and (max-width: 960px) {    
    .lead {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 540px) {
    .lead {
        margin-bottom: 64px;
    }
}