.lead {
    margin: 0 auto;
    max-width: 984px;
    padding: 0 48px 92px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1120px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (max-width: 960px) {    
    .lead {
        padding: 0;
        padding-bottom: 88px;
    }
}

@media screen and (max-width: 540px) {
    .lead {
        padding: 0;
        padding-bottom: 64px;
    }
}