.lead {
    margin: 0 auto;
    max-width: 984px;
    margin-bottom: 92px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1120px) {
    .lead {
        max-width: 928px;
    }
}

@media screen and (max-width: 960px) {    
    .lead {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 540px) {
    .lead {
        margin-bottom: 64px;
    }
}