.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    list-style: none;
}

@media screen and (max-width: 540px) {
    .footer__links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
    }
}