.cover {
    margin: 0 auto;
    max-width: 1184px;
    margin-bottom: 92px;
}

@media screen and (max-width: 960px) {    
    .cover {
        margin-bottom: 88px;
    }
}

@media screen and (max-width: 540px) {
    .cover {
        margin-bottom: 32px;
    }
}