.place {
    display: grid;
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    gap: 48px 40px;
    justify-items: center;
    align-items: center;
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1120px) {
    .place {
        gap: 48px 32px;
    }
}

@media screen and (max-width: 960px) {    
    .place {
        gap: 48px 28px;
        margin-bottom: 73px;
    }
}

@media screen and (max-width: 540px) {
    .place {
        display: grid;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);
        gap: 32px;
        margin-bottom: 50px;
    }
}