.place__website {
    grid-area: website;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    margin: 0;   
}

@media screen and (max-width: 767px) {
    .place__website {
        padding: 0 16px;
    }
}